.gradle/
build/
app/build/

.ipynb_checkpoints/

bin/
gen/
out/

.gradle/

local.properties

.idea/
*.iml

.DS_Store
Thumbs.db

.externalNativeBuild/
.cxx/

captures/
*.log

*.jks
*.keystore
*.apk
*.aab